/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

input{
    border: 1px solid #ccc;
    padding: 7px 0px;
    border-radius: 3px;
    padding-left:5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
input:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}
ul {
    list-style-type: none;
    margin: 0;
    position:sticky;
    top:0px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


table.imagetable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
}
table.imagetable th {
    background:#b5cfd2;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}
table.imagetable td {
    background:#dcddc0;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}

table.hovertable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
}
table.hovertable th {
    background-color:#c3dde0;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
table.hovertable tr {
    background-color:#d4e3e5;
    text-align: center;
}
table.hovertable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}

.btn {
    /* 文字颜色 */
    color: #0099CC;
    /* 清除背景色 */
    background: transparent;
    /* 边框样式、颜色、宽度 */
    border: 2px solid #0099CC;
    /* 给边框添加圆角 */
    border-radius: 6px;
    /* 字母转大写 */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}
.btn {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}
/* 悬停样式 */
.btn:hover {
    background-color: #008CBA;
    color: white;
}

.button {
    text-align: center;
}

.login-form {
    background: white;
    width: 26%;
    margin: 9% auto 4% auto;
    position: relative;
    /*-webkit-border-radius: 0.4em;*/
    /*-o-border-radius: 0.4em;*/
    /*-moz-border-radius: 0.4em;*/
}

.main {
    position: relative;
}

.main h1 {
    font-size: 25px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding-top: 19%;
    text-align: center;
}

.main form {
    width: 80%;
    margin: 0 auto;
    padding: 6% 0 9% 0;
}

.main p {
    text-align: center;
}

.main form p a {
    color: #888;
    font-family: 'Open Sans', sans-serif;
}


@media (max-width: 1440px) {
    .login-form {
        width: 30%;
        margin: 11% auto 4% auto;
    }

    .main h1 {
        padding-top: 23%;
    }

    .copy-right {
        bottom: -26%;
    }
}

@media (max-width: 1366px) {
    .login-form {
        width: 32%;
        margin: 10% auto 4% auto;
    }
}

@media (max-width: 1280px) {
    .login-form {
        margin: 8% auto 0;
        width: 34%;
        box-shadow: rgba(243, 208, 39, 0.33) 1px 1px,

    }

    .copy-right {
        left: 41%;
        bottom: -18%;
    }
}

@media (max-width: 1024px) {
    .login-form {
        margin: 12% auto 0;
        width: 45%;
        box-shadow: rgba(243, 208, 39, 0.33) 1px 1px,

    }

    .copy-right {
        left: 41%;
        bottom: -18%;
    }
}

@media (max-width: 768px) {
    .login-form {
        margin: 16% auto 0;
        width: 59%;
    }

    .copy-right {
        left: 38%;
        bottom: -14%;
    }
}

@media (max-width: 640px) {
    .login-form {
        margin: 20% auto 0;
        width: 63%;
    }

    .copy-right {
        left: 36%;
        bottom: -18%;
    }
}

@media (max-width: 480px) {
    .login-form {
        margin: 32% auto 0;
        width: 74%;
        box-shadow: rgba(243, 208, 39, 0.33) 1px 1px,

    }

    .copy-right {
        left: 30%;
        bottom: -17%;
    }

    .main h1 {
        font-size: 22px;
    }

    .head img {
        width: 78%;
    }

    .head {
        top: -15%;
        left: 34%;
    }

    input[type="user"], input[type="administrator"], input[type="button"] {
        font-weight: 600;
        margin-bottom: 4%;
    }

    @media (max-width: 320px) {
        .login-form {
            margin: 20% auto 0;
            width: 85%;

            box-shadow: rgba(243, 208, 39, 0.33) 1px 1px,
            rgba(243, 208, 39, 0.33) 2px 2px,
            rgba(243, 208, 39, 0.33) 3px 3px,
            rgba(243, 208, 39, 0.33) 4px 4px,
            rgba(243, 208, 39, 0.33) 5px 5px,
            rgba(243, 208, 39, 0.33) 6px 6px,
            rgba(243, 208, 39, 0.33) 7px 7px,
            rgba(243, 208, 39, 0.33) 8px 8px,
            rgba(243, 208, 39, 0.33) 9px 9px,
            rgba(243, 208, 39, 0.33) 10px 10px,
            rgba(243, 208, 39, 0.33) 11px 11px,
            rgba(243, 208, 39, 0.33) 12px 12px,
            rgba(243, 208, 39, 0.33) 13px 13px,
            rgba(243, 208, 39, 0.33) 14px 14px,
            rgba(243, 208, 39, 0.33) 15px 15px,
            rgba(243, 208, 39, 0.33) 16px 16px,
            rgba(243, 208, 39, 0.33) 17px 17px,
            rgba(243, 208, 39, 0.33) 18px 18px,
            rgba(243, 208, 39, 0.33) 19px 19px,
            rgba(243, 208, 39, 0.33) 20px 20px,
            rgba(243, 208, 39, 0.33) 21px 21px,
            rgba(243, 208, 39, 0.33) 22px 22px,
            rgba(243, 208, 39, 0.33) 23px 23px,
            rgba(243, 208, 39, 0.33) 24px 24px,
            rgba(243, 208, 39, 0.33) 25px 25px,
            rgba(243, 208, 39, 0.33) 26px 26px,
            rgba(243, 208, 39, 0.33) 27px 27px,
            rgba(243, 208, 39, 0.33) 28px 28px,
            rgba(243, 208, 39, 0.33) 29px 29px,
            rgba(243, 208, 39, 0.33) 30px 30px,
            rgba(243, 208, 39, 0.33) 31px 31px,
            rgba(243, 208, 39, 0.33) 32px 32px,
            rgba(243, 208, 39, 0.33) 33px 33px,
            rgba(243, 208, 39, 0.33) 34px 34px,
            rgba(243, 208, 39, 0.33) 35px 35px,
            rgba(243, 208, 39, 0.33) 36px 36px,
            rgba(243, 208, 39, 0.33) 37px 37px,
            rgba(243, 208, 39, 0.33) 38px 38px,
            rgba(243, 208, 39, 0.33) 39px 39px,
            rgba(243, 208, 39, 0.33) 40px 40px,
            rgba(243, 208, 39, 0.33) 41px 41px,
            rgba(243, 208, 39, 0.33) 42px 42px,
            rgba(243, 208, 39, 0.33) 43px 43px,
            rgba(243, 208, 39, 0.33) 44px 44px,
            rgba(243, 208, 39, 0.33) 45px 45px,
            rgba(243, 208, 39, 0.33) 46px 46px,
            rgba(243, 208, 39, 0.33) 47px 47px,
            rgba(243, 208, 39, 0.33) 48px 48px,
            rgba(243, 208, 39, 0.33) 49px 49px,
            rgba(243, 208, 39, 0.33) 50px 50px,
            rgba(243, 208, 39, 0.33) 51px 51px,
            rgba(243, 208, 39, 0.33) 52px 52px,
            rgba(243, 208, 39, 0.33) 53px 53px,
            rgba(243, 208, 39, 0.33) 54px 54px,
            rgba(243, 208, 39, 0.33) 55px 55px,
            rgba(243, 208, 39, 0.33) 56px 56px,
            rgba(243, 208, 39, 0.33) 57px 57px,
            rgba(243, 208, 39, 0.33) 58px 58px,
            rgba(243, 208, 39, 0.33) 59px 59px,
            rgba(243, 208, 39, 0.33) 60px 60px,
            rgba(243, 208, 39, 0.33) 61px 61px,
            rgba(243, 208, 39, 0.33) 62px 62px,
            rgba(243, 208, 39, 0.33) 63px 63px,
            rgba(243, 208, 39, 0.33) 64px 64px,
            rgba(243, 208, 39, 0.33) 65px 65px
        }

        .main h1 {
            padding-top: 20%;
            font-size: 20px;
        }

        .head img {
            width: 60%;
            border: 5px solid rgba(221, 218, 215, 0.23);
        }

        .head {
            top: -15%;
            left: 36%;
        }

        input[type="user"], input[type="administrator"], input[type="button"] {
            font-weight: 600;
            font-size: 15px;
        }

        .main form p a {
            font-size: 15px;
        }

        input[type="button"] {
            padding: 4%;
        }
    }
}